[
    {
      "name": "query1",
      "query": "SELECT * FROM measurement1"
    },
    {
      "name": "query1",
      "query": "from(bucket: \"home_assistant\") |> range(start: -12h)  // Retrieve data from the last 12 hours |> filter(fn: (r) => r[\"_measurement\"] == \"µg/m³\") |> filter(fn: (r) => r[\"_field\"] == \"value\") |> filter(fn: (r) => r[\"domain\"] == \"sensor\") |> filter(fn: (r) => r[\"entity_id\"] == \"pm2_5_monitor_zwave_plus_particulate_matter_2_5\") |> aggregateWindow(every: 1h, fn: mean, createEmpty: false) |> yield(name: \"mean\")"
    }
]